<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Arvo|Merriweather|Roboto&display=swap" rel="stylesheet">

</head>

<body>
    <app-header></app-header>
    <div class="row">
            <div class="col-1">
                    <button class="btn btn-primary" (click)="navigateToAddUser()">Add USER</button>
                </div>
    </div>
    <div *ngFor="let user of listUsers ">
            <div class="row">
                <div class="col-1">
                            <p>{{user.username}}</p>
                    </div>
                    <div *ngFor="let role of user.roles">
                            <div class="col-1">
                                <p>{{role.name}}</p>
                            </div>
                        </div>
                </div>
            </div>     
</body>
</html>