<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Arvo|Merriweather|Roboto&display=swap" rel="stylesheet">
</head>

<body>
    <div class="row">
        <div class="col">
            <div class="language inline-headers text-center">
                <h2>Russian</h2>
                <h2>English</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="text-center">
                <h1>BreakingNews 24</h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <form>
                    Enter Title: <input type="text" class="form-control" [(ngModel)]="news.title" name="title" /><br />
                    Enter Brief: <input type="text" class="form-control" [(ngModel)]="news.brief" name="brief" /><br />
                    Enter Content: <input type="text" class="form-control" [(ngModel)]="news.content"
                        name="content" /><br />
                    <button (click)="addNews(news)" class="btn btn-primary">Add News</button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>