<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Arvo|Merriweather|Roboto&display=swap" rel="stylesheet">
</head>

<body>
        <app-header></app-header>
    <div class="container">
        <div class="row">
            <div class="col">
                <form>
                    Enter name: <input type="text" class="form-control" [(ngModel)]="user.username" name="username" /><br />
                    Enter password: <input type="password" class="form-control" [(ngModel)]="user.password" name="password" /><br />
                    <button type="button" (click)="login(user)" class="btn btn-primary">Login</button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>
