* {
    margin: 0;
    padding: 0;
}

.news-container{
    margin-top: 30px;
}

.news-title{
    font-family: 'Oswald', serif, bold;
    font-size: 18px;
}

.news-brief{
    font-family: 'Merriweather', serif;
    font-size: 14px;
}

.news-date{
    color: #A1A1A1;
    font-family: 'Merriweather', serif;
}

.update-button{
    margin-right: 10px;
}
