<div class="row">
    <div class="col">
        <div class="language inline-headers text-center">
            <h2>Russian</h2>
            <h2>English</h2>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="text-center">
            <h1>BreakingNews 24</h1>
        </div>
    </div>
</div>
<div class="row">
        <div class="col">
              {{user.username}}
              {{user.password}}
        </div>
    <div class="col">
            <button class="btn btn-primary" (click)="navigateToLogin()">Login</button>
    </div>
</div>