<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Arvo|Merriweather|Roboto&display=swap" rel="stylesheet">
</head>

<body>
    <app-header></app-header>
   
        <div class="row">
          <div class="col-1">
                <button class="btn btn-primary"  (click)="navigateToUserPage()">Users</button>
          </div>
          <div class="col-1">
                <button class="btn btn-primary" (click)="navigateToRolePage()">Roles</button>
          </div>
          <div class="col-1">
                <button class="btn btn-primary"  (click)="navigateToPrivilegePage()">Privileges</button>
          </div>
              
     
            </div>
    

</body>

</html>