<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Arvo|Merriweather|Roboto&display=swap" rel="stylesheet">

</head>

<body>
    
    <app-header></app-header>

    <div (click)="navigateToSingleNews(news)" *ngFor="let news of listNews ">
        <div class="container">
            <div class="row news-wrapper">
                <div class="col-2">
                    <img src="assets/images/business.jpg" class="img-fluid">
                </div>
                <div class="col-10">
                    <div class="row">
                        <div class="col-10 news-title">
                            <p>{{news.title}}</p>
                        </div>
                        <div class="col-10 news-brief">
                            <p>{{news.brief}}</p>
                        </div>
                        <div class="col-10 news-date">
                            <p>{{news.date}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>