.news-title{
    font-family: 'Oswald', serif, bold;
    font-size: 18px;
}

.news-brief{
    font-family: 'Merriweather', serif;
    font-size: 14px;
}

.news-date{
    color: #A1A1A1;
    font-family: 'Merriweather', serif;
}

.news-wrapper{
    margin-top: 10px;
}

