* {
    margin: 0;
    padding: 0;
  }

h1{
    font-family: 'CloisterBlack';
    font-size: 48px;
}

.language{
    margin-top: 20px;
    font-family: 'Roboto';
}

.language h2{
    font-size: 11px !important;
}

.inline-headers h2{
    display: inline-block;
    vertical-align: baseline;
    margin-right: 10px;
}

 .container-news{
     margin-top: 20px;
}

.news-title{
    font-family: 'Oswald', serif, bold;
    font-size: 32px;
    margin-bottom: 10px;
}

.news-img{
    margin-bottom: 20px;
}

.news-content{
    font-family: 'Merriweather', serif;
    font-size:18px;
}

.news-date{
    color: #A1A1A1;
    font-family: 'Merriweather', serif;
} 

.row-centered{
    display: inline-block;
    float: none;
}